<div class="page-header">
  <h1><%= @hotel.name %> <small></small></h1>
</div>

<div class="row">
<div class="jumbotron">
<p>
<%= @hotel.description %>
</p>

<p>
Total Rooms: <%= @hotel.rooms %>	
</p>

<p>
Available Rooms: <%= @hotel.available_rooms %>	
</p>


</div>	
</div>
